<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Gzip Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xml+rss" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="font/opentype" enabled="true" />
        <add mimeType="font/otf" enabled="true" />
        <add mimeType="font/ttf" enabled="true" />
        <add mimeType="font/woff" enabled="true" />
        <add mimeType="font/woff2" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xml+rss" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="font/opentype" enabled="true" />
        <add mimeType="font/otf" enabled="true" />
        <add mimeType="font/ttf" enabled="true" />
        <add mimeType="font/woff" enabled="true" />
        <add mimeType="font/woff2" enabled="true" />
      </staticTypes>
    </httpCompression>
    
    <!-- Browser Caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://fonts.googleapis.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data:; connect-src 'self';" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Remove trailing slashes -->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Prevent access to sensitive files -->
        <rule name="Block sensitive files" stopProcessing="true">
          <match url="\.(htaccess|htpasswd|git|env|bak|backup|old|tmp|temp|log)$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Performance Optimization -->
    <serverRuntime enabled="true" />
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>
